@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img{
background-image: url('./assets/hero-background-img.jpg'); /* ✅ */
}
/* CSS variable for top navbar height and helper class */
:root {
  --nav-height: 64px; /* adjust if your navbar is taller */
}
.pt-nav {
  padding-top: var(--nav-height) !important;
}
/* index.css */
nav{
    box-shadow: 0 10px 20px #0ff;
}

.neon-link {
  text-shadow: 0 0 3px #0ff;
}

.neon-link:hover {
  text-shadow: 0 0 5px rgb(109, 248, 255), 0 0 10px rgb(255, 255, 255);
}

@keyframes progressLine {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-progress-line {
  animation: progressLine 3s linear forwards;
}